@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #000000;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 200;
}

body {
  background-color: var(--bg-primary);
  color: #ffffff;
  overflow-x: hidden;
}
