---
import MainLayout from "../layouts/MainLayout.astro";
import WorkExperience from "../components/WorkExperience.astro";
---

<MainLayout
  title="Resume | Cristopher Ortega"
  description="Professional resume of Cristopher Ortega"
>
  <h1>Resume</h1>

  <WorkExperience />
</MainLayout>
