---
export interface Props {
  figureNumber: number;
  description: string;
  className?: string;
  size?: "sm" | "md" | "lg";
}

const { figureNumber, description, className = "", size = "md" } = Astro.props;

declare global {
  interface Window {
    mermaidInitialized?: boolean;
  }
}
---

<script>
  import mermaid from "mermaid";

  if (!window.mermaidInitialized) {
    mermaid.initialize({
      startOnLoad: true,
    });
    window.mermaidInitialized = true;
  }
</script>

<figure class="flex flex-col items-center justify-center my-4">
  <div
    class={`flex items-center justify-center ${
      size === "lg"
        ? "w-full md:w-[800px]"
        : size === "md"
          ? "w-full md:w-[600px]"
          : "w-full md:w-[400px]"
    }`}
  >
    <pre class="mermaid w-full">
      <slot />
    </pre>
  </div>
  <p class="text-sm">
    <b>Figure {figureNumber}:</b>
    {description}
  </p>
</figure>

<style>
  :global(.mermaid) {
    background-color: transparent !important;
  }
</style>
