<nav class="mb-4">
  <a
    href="/"
    class="mr-[15px] font-bold text-[#007acc] no-underline hover:underline"
    ><i class="fas fa-home mr-[5px]"></i>Home</a
  ><a
    href="/resume"
    class="mr-[15px] font-bold text-[#007acc] no-underline hover:underline"
    ><i class="fas fa-file-alt mr-[5px]"></i>Resume</a
  ><a href="/blog" class="font-bold text-[#007acc] no-underline hover:underline"
    ><i class="fas fa-book mr-[5px]"></i>Blog</a
  >
</nav>
