---
interface Props {
  showBlog?: boolean;
}

const { showBlog = true } = Astro.props;
---

<div class="mt-[5px] mb-[10px] text-[14px]">
  <a
    href="https://github.com/crisog"
    class="mr-[15px] font-bold text-[#007acc] no-underline hover:underline"
  >
    <i class="fab fa-github mr-[5px]"></i>GitHub
  </a>
  <a
    href="https://twitter.com/crisogx"
    class="mr-[15px] font-bold text-[#007acc] no-underline hover:underline"
  >
    <i class="fab fa-twitter mr-[5px]"></i>Twitter
  </a>
  <a
    href="https://www.linkedin.com/in/crisog"
    class="mr-[15px] font-bold text-[#007acc] no-underline hover:underline"
  >
    <i class="fab fa-linkedin mr-[5px]"></i>LinkedIn
  </a>
</div>
