---
import WorkItem from "./WorkItem.astro";
---

<h2 class="text-[20px] mt-[20px] text-[#007acc] font-bold">Work Experience</h2>

<WorkItem
  company="Stateless Solutions"
  role="Principal Software Engineer, Backend"
  period="July 2023 - December 2024"
>
  <p class="m-0 mb-[15px]">
    At Stateless Solutions, I led a team of 3 backend engineers & our Gateway
    and Service API platform, enabling seamless integration of verified RPC data
    from network nodes for developers.
  </p>

  <p class="m-0 mb-[15px]">
    I developed a pseudo-stateless client leveraging cryptographic attestations
    and Merkle proofs for Ethereum state validation without local storage. I
    built custom ethers.js and viem integrations, including a verifiable RPC
    transport, and led development of the Stateless CLI.
  </p>
  <p class="m-0 mb-[15px]">
    Enhanced system observability using OpenTelemetry, Prometheus, and Grafana,
    while managing GCP infrastructure for our backend services.
  </p>
</WorkItem>

<WorkItem
  company="Pocket Network Inc."
  role="Software Engineer, Backend"
  period="August 2021 - July 2023"
  githubUrl="https://github.com/pokt-foundation"
  githubName="Pocket Network"
>
  <p class="m-0 mb-[15px]">
    At Pocket Network, I led the creation of Portal API V2, a complete Go
    rewrite of V1, from specifications to implementation. This new system,
    currently in production, has handled peak loads of 2 billion requests per
    day while reducing overall costs by 43%.
  </p>

  <p class="m-0 mb-[15px]">
    It demonstrates exceptional efficiency in both RAM and CPU usage, with a 90%
    compute reduction compared to V1 and 2.5 times faster latency. I implemented
    robust metrics for enhanced system observability and reduced logging by 80%,
    significantly decreasing storage costs.
  </p>

  <p class="m-0 mb-[15px]">
    As the primary knowledge source for Pocket Protocol and Ethereum, I
    advocated for transparency in our selection algorithm and drove improvements
    for fairer reward distribution. I also successfully led technical
    integrations to add $POKT to over five exchanges, including KuCoin, Gate,
    and Okcoin.
  </p>
</WorkItem>

<WorkItem
  company="1Hive"
  role="Web3 Developer"
  period="May 2020 - August 2021"
  githubUrl="https://github.com/1Hive"
  githubName="1Hive"
>
  <p class="m-0 mb-[15px]">
    During my time at 1Hive, I set up UniswapV2 contracts and UI for the
    Honeyswap DEX (honeyswap.org), maintained Celeste backend services
    (celeste.1hive.org), created xPollinate, a cross-chain assets bridge powered
    by Connext (xpollinate.io), and deployed the contracts necessary to bridge
    the $HNY token from xDai to Ethereum Mainnet.
  </p>
</WorkItem>

<WorkItem
  company="Pocket Network Inc."
  role="Web3 Developer"
  period="February 2021 - April 2021"
  githubUrl="https://github.com/pokt-network/wpokt-subgraph"
  githubName="wPOKT Subgraph"
>
  <p class="m-0 mb-[15px]">
    In this role at Pocket Network, I wrote a subgraph for a staking contract
    based on AMPL-TokenGeyser, assisted in developing the mathematical models
    for rewards, lock schedules, and unlock rates, and configured the entire
    smart contract deployment and testing suite using Hardhat.
  </p>
</WorkItem>

<WorkItem
  company="Iterativo LLC"
  role="API Engineer"
  period="March 2020 - April 2021"
>
  <p class="m-0 mb-[15px]">
    At Iterativo LLC, I focused on backend development, particularly API Design
    & Management. I migrated several microservices to FastAPI, successfully
    created two new products with clean CI/CD pipelines, implemented a
    self-managed API Gateway and routing using GKE, analyzed cost-effective
    deployment strategies on Google Cloud Platform, refactored an old API from
    traditional to serverless architecture, and optimized system-bottlenecking
    queries, significantly boosting performance.
  </p>
</WorkItem>

<WorkItem
  company="BrightID"
  role="Web3 Developer"
  period="October 2020 - January 2021"
>
  <p class="m-0 mb-[15px]">
    At BrightID, I worked on their IDChain side chain, deploying several DApp
    forks including Uniswap V2, Uniswap Analytics, Omnibridge, and DaoHaus. I
    also set up a Graph Node for deploying all necessary subgraphs for these
    applications, as well as the associated contracts.
  </p>
</WorkItem>
